* {
	// outline: 2px solid green !important;
	margin: 0;
	padding: 0;
}

.container {
	background-image: url(../../assets/Images/Bg.svg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	gap: 50px;
	height: 100vh;
	justify-content: space-between;

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 70px;

		.nav {
			.navList {
				display: flex;
				list-style: none;
				gap: 40px;

				.navItem {
					font-size: 18px;
					cursor: pointer;
					color: #fff;
					transition: color 0.3s ease;
					text-decoration: none;
				}

				.navItem:hover {
					color: #ff0000;
				}
			}
		}
	}

	.background {
		display: flex;
		justify-content: space-around;
		align-items: end;

		.backgroundImage {
			max-width: 50%;
		}

		.buttons {
			display: flex;
			flex-direction: column;
			gap: 29px;
			margin-bottom: 5%;

			.playButton {
				img {
					width: 280px;
				}
			}

			.registerButton {
				img {
					width: 280px;
				}
			}
		}
	}

	.footer {
		display: flex;
		justify-content: space-between;
		padding: 0 70px;
		margin-bottom: 2%;

		.icons {
			color: #a7a7a7;
			cursor: pointer;
			font-size: 25px;
		}

		.icons:hover {
			color: #ff0000;
			transition: color 0.3s ease;
		}

		.SocialIcons {
			display: flex;
			gap: 20px;
		}

		.email {
			display: flex;
			gap: 20px;
			align-items: center;
			color: #a7a7a7;
			font-size: 18px;
		}
	}
}
